.all-spots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  margin-top: 100px;
  padding: 80px;
  
  
}


.city-rating {
  display: flex;
  justify-content: space-between;
}
.navContainer {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  text-decoration: none;
  color: #484848;
  border: 1px solid #ebebeb;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
.navContainer.toolTipText {
  visibility: hidden;
  width: 120px;
  background-color: rgb(0, 0, 0);
  color: #1c0808;
  position: absolute;
  z-index: 1;
}

.navContainer:hover {
  transform: translateY(-5px);
}
.navContainer:hover .navContainer.toolTipText {
  visibility: visible;
}

.navImageHome{
  height: 0;
  padding-bottom: 66.666%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
/* .navImageHome::before,
.navImageHome::after {
  --scale: 0;
  position: absolute;
  height: 100px;
  width: 100px;
  top:-.25rem;
  left: 50%;
  transform: translateX(-50%) scale(var(--scale));
  background: pink;
  transform-origin: bottom center;
  transition: 170ms transform;
} */
.navImageHome .data-tool-tip {
  visibility: hidden;
  background-color: rgb(54, 50, 50);
  border-radius: 2px;
  position: relative;
  z-index: 1;
  left: 60%;
  bottom: 85%;
  height: 30px;
  max-width: 150px;
  padding-top: 11px;
  text-align: center;
  margin-top: 10px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 83%;
}

.navImageHome:hover .data-tool-tip {
  visibility: visible;
}
/* .navImageHome::before {
  content: attr(data-tooltip);
  height: 100px;
  color: white;
  border-radius: .3rem;
  width: max-content;
  padding: 5px;
  max-width: 100%;
  text-align: center;
  background: pink;
}

.navImageHome:hover::before{
  --scale: 1;

} */
.navImageHome img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navSpotDetails {
  padding: 16px;
  font-size: 14px;
  display:flex;
  flex-direction: column;
  
}

.navSpotDetails div:first-child {
  margin-bottom: 8px;
  font-weight: bold;
}

.navSpotDetails div:last-child {
  font-weight: lighter;
}

@media only screen and (max-width: 900px) {
  .navContainer {
    width: calc(50% - 10px);
  }
}

@media only screen and (max-width: 600px) {
  .navContainer {
    width: 100%;
  }
}

